@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Uiverse.io by kandalgaonkarshubham */ 
:root {
  --primary-100:#27AE60;
  --primary-200:#009146;
  --primary-300:#004f09;
  --accent-100:#F39C12;
  --accent-200:#854200;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#2C3E50;
  --bg-200:#3d4f61;
  --bg-300:#57687c;
    
      
}

.bg { 
  width: 100%;
  height: 100%;
  --s: 200px; /* Controla el tamaño */
  --c1: var(--bg-100);
  --c2: var(--bg-200);
  --c3: var(--bg-300);

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}